@import "variables";

*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
  font-size: $fz-primary;
  background-color: $light-grayish-blue;
  font-family: $ff-primary;
}

footer {
  display: none;
}

.article-container {
  margin: 0 auto;
  width: 95%;
  max-width: 50rem;
  min-height: 15rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

  .article-img {
    width: 100%;
    min-height: 15rem;
    background: url(../images/drawers.jpg) no-repeat;
    background-size: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .article-description-container {
    min-height: 10rem;
    padding: 1rem 2rem;
    position: relative;

    &__title {
      margin-block: 1.5rem 0.5rem;
      color: $dark-grayish-blue;
      font-size: 1.15rem;
      line-height: 1.5;
      font-weight: $fw-medium;
    }

    &__desc {
      margin-block: 0.5rem;
      line-height: 1.5;
      width: 100%;
      color: $grayish-blue;
      font-weight: $fw-medium;
    }

    &__author-section {
      display: flex;
      margin-top: 1.2rem;
      align-items: center;
      justify-content: space-between;
      max-width: 95%;

      .author-profile {
        display: flex;
        align-items: center;

        &__img {
          width: 3rem;
          height: 3rem;
          background: url(../images/avatar-michelle.jpg) no-repeat;
          background-size: cover;
          border-radius: 50%;
          margin-right: 1rem;
        }

        &__detail {
          .author-name {
            font-size: 1rem;
            margin-bottom: 0.25rem;
            font-weight: 700;
            color: $dark-grayish-blue;
          }

          .date-published {
            font-size: 0.9rem;
            opacity: 0.7;
          }
        }
      }

      .share-btn {
        width: 2.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background: $light-grayish-blue url(../images/icon-share.svg) no-repeat
          center;

        &:hover {
          cursor: pointer;
          background: $dark-grayish-blue url(../images/icon-share-hovered.svg)
            no-repeat center;
        }
      }
    }
  }

  .share-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    height: 4rem;
    background: $dark-grayish-blue;
    display: none;
    align-items: center;
    justify-content: space-between;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;
    }

    .social-media-cta {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.25rem;
      color: $grayish-blue;
    }

    .social-media-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 5.5rem;
      margin-top: 0.25rem;

      .social-media-icon {
        cursor: pointer;
      }
    }

    .social-media-share-btn {
      background: $dark-blue;
      height: 2.2rem;
      width: 2.2rem;
      margin-top: 0.25rem;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .clicked {
    display: flex;
  }
}

/*  =======================
        DESKTOP SCREENS 
    ========================= */

@media (min-width: 40em) {
  .article-container {
    flex-direction: row;
    min-height: 15rem;

    .article-img {
      width: 40%;
      min-height: 15rem;
      border-radius: 1rem 0 0 1rem;
    }

    .article-description-container {
      width: 60%;

      &__title {
        font-size: 1.4rem;
      }

      &__desc {
        margin-block: 1rem;
      }

      .share-section {
        display: none;
        position: absolute;
        inset-inline-start: 54.5%;
        border-radius: 0.5rem;
        padding: 0.5rem;
        bottom: 6rem;
        width: 60%;
        height: 3.8rem;
        justify-content: space-around;
        box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.25);

        &__container {
          padding-inline: 1rem;
        }
      }

      .social-media-cta {
        margin-left: 0rem;
      }

      .social-media-container {
        margin-block: 0;
      }

      .clicked {
        display: flex;
      }

      .social-media-share-btn {
        display: none;
      }

      .arrow-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 0;
        border-top: 20px solid $dark-grayish-blue;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        bottom: -1.2rem;
      }
    }
  }
}
